html, body {
    width:  100%;
    height: 100%;
    margin: 0;
}

body {
    position: relative;
    overflow: hidden;
}

#form-start {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45%;
    left: 50%
}