html, body {
    width:  100%;
    height: 100%;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: #171C23;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    font-size: 6rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#form-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.input {
    border: none;
    border-radius: 30px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.btn {
    background-color: #2ECC71; /* Green */
    border: none;
    border-radius: 30px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.score-box {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 0.3rem 1rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ColorPicker */

.color-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

input[type="radio"] {
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    margin-right: 15px;
    position: relative;
    width: 25px;
    -webkit-appearance: none;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.pink {
    background-color: pink;
}

input[type="radio"]:checked {
    border: 2px solid black;
}

input[type="radio"]:after {
    border-radius: 25px;
    height: 0px;
    width: 0px;
}